#contact-form {
	padding: 15px;
	margin-top: 20px;
	/* border: 2px solid #f3e7db; */
	margin: 0 50vw;
}

#contact-form label {
	font-size: 0.9em;
	color: #41342b;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
}

#contact-form input {
	border: 1px solid gray;
	background-color: #ffffff;
	color: #333333;
}

#contact-form-button {
	color: white;
	background-color: #d95531;
	padding: 10px 16px;
	border-radius: 5px;
	border: none;
}
#contact-form-button:hover {
	background-color: #ecaa98;
}
