.customers {
	background-color: #f3f0ed;
}

.avatar {
	width: 32px;
	border-radius: 50%;
}

.customer-card {
	margin-bottom: 10px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

@media (min-width: 776px) {
	.customer-card {
		max-width: 32% !important;
	}
}

.customers {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.happy {
	font-family: "Inter", sans-serif;
	font-weight: 600;
}

.star {
	color: #d95531;
	fill: #d95531;
	width: 20px !important;
}
