#my-form {
	background-color: white;
	display: flex;
	justify-content: center;
	/* max-width: 90vw; */
	max-width: 1036px;
	margin: 0 auto;
	border-radius: 8px;
	border: 3px solid #e2e8f0;
}

#test-submit {
	background-color: #1d4ed8;
}

input {
	border-radius: 4px;
	border: 1px solid gray;
	width: 100%;
}

/* if less than 480px wide - form labels need to be display: block */
@media (min-width: 320px) and (max-width: 480px) {
	label {
		display: block !important;
	}
}

/* next button styling */
.next-btn:first-child {
	border: 1px solid #1d4ed8;
	border-radius: 5px;
	background-color: #1d4ed8;
	color: white;
	margin-top: 5px;
	max-width: 126px;
}

.back-btn {
	border: 1px solid #1d4ed8;
	max-width: 126px;
	margin-top: 5px;
	border-radius: 5px;
}

/* modal code */
.modal {
	display: none; /*Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 80%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80% !important;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* radio button for form */
.donate-now {
	list-style-type: none;
	/* margin: 25px 0 0 0; */
	padding: 0;
	background-color: white;
}

.donate-now li {
	float: left;
	/* margin: 0 5px 0 0; */
	width: 40%;
	height: 40px;
	position: relative;
	color: #1d4ed8;
	text-align: center;

	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
}

.donate-now label,
.donate-now input {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* width: 200px; */
}

.donate-now input[type="radio"] {
	opacity: 0.01;
	z-index: 100;
}

.donate-now input[type="radio"]:checked + label,
.Checked + label {
	background: #1d4ed8;
	color: white;
}

.donate-now label {
	padding: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
	z-index: 90;
}

.donate-now label:hover {
	background: #99afec;
}

.step {
	font-weight: bold;
	margin-top: 5px;
}

/* new */
.add-ons {
	list-style-type: none;
	/* margin: 25px 0 0 0; */
	padding: 0;
	background-color: white;
}

.add-ons li {
	float: left;
	/* margin: 0 5px 0 0; */
	width: 40%;
	height: 40px;
	position: relative;
	color: #1d4ed8;
	text-align: center;

	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
}

.add-ons label,
.add-ons input {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* width: 200px; */
}

.add-ons input[type="checkbox"] {
	opacity: 0.01;
	z-index: 100;
}

.add-ons input[type="checkbox"]:checked + label,
.Checked + label {
	background: #1d4ed8;
	color: white;
}

.add-ons label {
	padding: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
	z-index: 90;
}

.add-ons label:hover {
	background: #99afec;
}

.other-requests {
	width: 100%;
	word-wrap: break-word;
	word-break: break-all;

	resize: none;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
}
