#my-form {
	background-color: white;
	display: flex;
	justify-content: center;
	max-width: 90vw;
	/* max-width: 1036px; */
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 0px 4px 6px -1px #0000000d;
}

#test-submit {
	background-color: #1d4ed8;
}

input {
	border-radius: 4px;
	border: 1px solid gray;
	width: 100%;
}

/* if less than 480px wide - form labels need to be display: block */
@media (min-width: 320px) and (max-width: 480px) {
	label {
		display: block !important;
	}
}

@media (max-width: 480px) and (min-width: 768px) {
	#my-form {
		max-width: 70vw;
	}
}

/* next button styling */
.next-btn:first-child {
	border-radius: 5px;
	background-color: #d95531;
	color: white;
	margin-top: 5px;
	max-width: 125px;
	min-width: 60px;
	width: 100%;
	padding: 10px;
}
.next-btn:first-child:hover {
	background-color: #e0765a;
	font-size: 0.9em;

	padding: 12px;
}

.first-back-btn {
	max-width: 125px;
	min-width: 60px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
	padding: 10px;
	color: white;
	background-color: #ecaa98;
}

.back-btn {
	max-width: 125px;
	width: 100%;
	min-width: 60px;
	margin-top: 5px;
	border-radius: 5px;
	padding: 10px;
	color: #d95531;
	background-color: white;
	float: right;
  border: 1px solid #d95531;
}

.back-btn:hover {
	color: #e7927a;
  border: 1px solid #ecaa98;
}

/* modal code */
.modal {
	display: none; /*Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 80%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80% !important;
	max-width: 750px;
}

.okay {
	background-color: #d95531 !important;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 40px;
	font-weight: bold;
	margin-left: 95%;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* radio button for form */
.donate-now {
	list-style-type: none;
	/* margin: 25px 0 0 0; */
	padding: 0;
	background-color: white;
}

.donate-now li {
	float: left;
	/* margin: 0 5px 0 0; */
	width: 40%;
	height: 40px;
	position: relative;
	color: #d95531;
	text-align: center;

	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
}

.donate-now label,
.donate-now input {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* width: 200px; */
}

.donate-now input[type="radio"] {
	opacity: 0.01;
	z-index: 100;
}

.donate-now input[type="radio"]:checked + label,
.Checked + label {
	background: #d95531;
	color: white;
}

.donate-now label {
	border: 1px solid #ccc;
	cursor: pointer;
	z-index: 90;
}

.donate-now label:hover {
	background: #ecaa98;
	color: white;
}

/* new */
.add-ons {
	list-style-type: none;
	/* margin: 25px 0 0 0; */
	padding: 0;
	background-color: white;
}

.add-ons li {
	float: left;
	/* margin: 0 5px 0 0; */
	width: 40%;
	height: 40px;
	position: relative;
	color: #d95531;
	text-align: center;

	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
}

.add-ons label,
.add-ons input {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* width: 200px; */
}

.add-ons input[type="checkbox"] {
	opacity: 0.01;
	z-index: 100;
}

.add-ons input[type="checkbox"]:checked + label,
.Checked + label {
	background: #d95531;
	color: white;
}

.add-ons label {
	border: 1px solid #ccc;
	cursor: pointer;
	z-index: 90;
}

.add-ons label:hover {
	background: #ecaa98;
	color: white;
}

.other-requests {
	width: 100%;
	word-wrap: break-word;
	word-break: break-all;

	resize: none;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
}

#page-1,
#page-2,
#page-3,
#page-4 {
	background-color: #ffffff !important;
	box-shadow: 0px 4px 6px -1px #0000000d;
	border-radius: 8px;
	min-height: 20vh !important;
	max-width: 80vw;
	margin: 0 auto;
}

.form-title {
	font-size: 24px;
	padding-left: 15px;
	font-family: "Inter", sans-serif;
}

form label {
	font-size: 18px;
	font-family: "Inter", sans-serif;
}

.step {
	font-weight: bold;
	margin-top: 15px;
}

.left-rad {
	border-radius: 8px 0 0 8px;
	min-height: 40px;
	padding-top: 5px;
	border: 1px solid #d95531 !important;
}
.right-rad {
	border-radius: 0 8px 8px 0;
	min-height: 40px;
	padding-top: 5px;
	border: 1px solid #d95531 !important;
}

/* #page-2 {
	width: 100vw;
} */
