body {
	font-family: "Poppins", sans-serif;
	color: #eef0f2;
	margin: 0 auto;
	/* max-width: 100vw; */
}

#logo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-position: 50% 50%;
	background-image: url("https://images.unsplash.com/photo-1586968753203-8350c338fa80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}

.book-clean {
	width: 57vw !important;
}

@media (min-width: 844px) {
	.navbar-toggler {
		display: none !important;
	}
	#navbarText {
		display: none !important;
	}
}

.book {
	font-size: 18px !important;
	font-family: "Inter", sans-serif;
	font-weight: 600;
}

.top-btn {
	border-radius: 5px;
	white-space: nowrap;
}

/* hamburger nav items */
.nav-item {
	/* width: 80vw; */
	display: inline;
	/* margin-left: 20px; */
	/* margin-right: 20px; */
}

#small-nav {
	width: 90vw !important;
	position: relative;
	right: 3vw;
}

/* large screen nav */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111111;
}

.navbar {
	position: absolute !important;
	width: 100vw;
}
