* {
	margin: 0 auto;
}
body {
	font-family: "Poppins", sans-serif;
	color: #eef0f2;
	margin: 0 auto;
	background-color: #f3f0ed !important;
}

.banner-img,
.small-banner-img {
	background-image: url("https://res.cloudinary.com/duoknvbvs/image/upload/v1629642957/Image_8-22-21_at_9.35_AM_fsjnca.jpg");
	height: 45vh;
	max-height: 400px;
	background-size: cover;
	/* background-position: center; */
	margin: 0;
}

@media (max-width: 844px) {
	/* mobile CSS: hide .desktop div */
	.banner-img {
		display: none;
	}

	.small-banner-img {
		display: block;
	}
}

@media (min-width: 844px) {
	/* mobile CSS: hide .desktop div */

	.small-banner-img {
		display: none;
	}
}

html {
	/* margin-right: -20px; */
	width: 100vw !important;
	scroll-behavior: smooth;
}

/* for email template */

p {
	/* padding-top: 50px; */
	font-size: 17px;
	vertical-align: top;
}

.hero-text {
	color: #41342b;
}

.hero-text div h2 {
	font-weight: 700;
	font-size: 3em;
}
.prestine {
	text-decoration: underline #c34d2c;
	text-decoration-thickness: 0.15em;
}

.hero-text div h5 {
	font-weight: 400;
	font-size: 1.4em;
}

body {
	color: #41342b !important;
}

.footer-icon-email {
}

.footer-icon-phone {
}

@media (max-width: 768px) {
	.footer-div p {
		text-align: center;
	}
}

@media (min-width: 770px) {
	.footer-div {
		/* position: relative;
		left: 40%;
		margin-right: 0; */
	}
}

.footer-div p {
	max-width: 345px;
}
