.wwh-title {
	text-align: center;
	position: absolute;

	/* allows for Who What When titles to be split along the top of the box they live in */
	top: -18px;
	margin-bottom: 15px;
	left: 37%;
}

.wwh {
	border: 1px solid gray;
	border-radius: 5px;
	/* width: 90vw !important; */
	margin-top: 25px;
	box-shadow: 0px 4px 6px 2px grey;
	margin-right: 10px;
	margin-left: 10px;
}

.wwh ul {
	list-style: none;
	padding: 0;
}
.wwh ul li {
	padding-left: 1.3em;
}
/* WHAT/WHEN/HOW - list icons*/
.wwh .what li:before {
	content: "\f14a"; /* FontAwesome Unicode */
}

.wwh .when li:before {
	content: "\f017"; /* FontAwesome Unicode */
}

.wwh .how li:before {
	content: "\f0eb"; /* FontAwesome Unicode */
}

.wwh ul li:before {
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; /* same as padding-left set on li */
	width: 1.3em; /* same as padding-left set on li */
}

.what,
.when,
.how {
	margin-top: 15px;
}

@media (min-width: 450px) {
	.wwh {
		max-width: 31.5% !important;
	}

	/* .customer-card {
		max-width: 32.333333% !important;
	} */
}

/* @media (min-width: 780px) {
	.wwh {
		max-width: 45.5% !important;
	}
} */

.who-what-when{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

